body {
    font-family: "Consolas", "Calibri", "Courier New", "monospace";
    font-size: 50px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%), url("../img/color3.png");
}

form {
    width: 100%;
    text-align: center;
    margin: 200px 0;
}

.submit {
    background: none;
    border: none;
    font-size: 50px;
    font-family: "Consolas";
    color: #000;
}

.submit:hover {
    cursor: pointer;
    color: #00A4EF;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #00A4EF;
}

.username {
    text-align: center;
    font-size: 30px;
}
