body {
    font-family: "Consolas", "Calibri", "Courier New", "monospace";
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url("../img/color.png");  
}

a {
    color: #0271BC;
}

a:hover {
    color: #00A4EF;
}

.canvas {
    background-color: #A7C0DC;
    position: absolute;
}

