body {
    font-family: "Consolas", "Calibri", "Courier New", "monospace";
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url("../img/color.png");    
}

.canvas {
    background-color: #D0D0D0;
}